@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.main {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #333434, rgb(66, 63, 40));
  padding: 6rem;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  animation: backgroundAnimation 1s alternate infinite;
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.header{
  text-align: center;
}

.successCard {
  background-color: #fff;
  border-radius: 10px;
  padding-top: 180px;
  box-shadow: 0 4px 8px rgba(255, 188, 188, 0.1);
  text-align: center;
  color: green;
  font-family: Satisfy;
  font-size: 40px;
  /* Set the background image */
  background-image: url("/hb.png");
  background-size: cover; /* Adjusts the image to cover the container */
  background-repeat: no-repeat; /* Prevents repeating of the image */
  background-position: center; /* Centers the image horizontally and vertically */
  width: 400px; /* Fixed width */
  height: 300px; /* Fixed height */
}
